<h3>Contact Us</h3>
<p>
Yumei Li, Ph.D. <br>
Professor <br>
Department of Bioinformatics,<br>
School of Biology & Basic Medical Sciences, Soochow University, <br>
Soochow, China
<br>
E-mail: ymli12 [AT] suda.edu.cn <br>
<br>
<!-- 10550 N. Torrey Pines Rd <br>
Scripps Mail Code: MB110<br>
La Jolla, CA 92037<br> -->
</p>

<p>
<h3>Interested in joining the LYM lab?</h3>
We don’t generally post for specific positions, <a href="{{ site.url }}/tutorial">so please reach out!</a> We welcome applicants from all backgrounds.<br>
</p>
<h3> Recent Posts </h3>
<ul>
  {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
