<h3><em> Contact Us!</em></h3>
<!-- <br>
<b>Contact Us</b> -->
<mark>We are always looking for motivated students and postdocs to work with us!</mark> <br> 
Read more about our <a href="https://regelab.github.io/research/">research</a> and our <a href="https://regelab.github.io/news/">recent achievements</a>. 
<br>
<br>
Mayuri Rege, Ph.D. <br>
DST-INSPIRE Faculty<br>
Department of Microbiology <br>
Ramnarain Ruia Autonomous College <br>
Matunga, Mumbai- 400019<br>
<br>
<br>
mayurirege [at] ruiacollege [dot] edu 




