<h3><em> Contact Us!</em></h3>
<!-- <br>
<b>Contact Us</b> -->
<mark>We are always looking for motivated students and postdocs to work with us!</mark> <br> 
Read more about our <a href="https://liymlab.github.io/research/">research</a> and our <a href="https://liymlab.github.io/position/">recent achievements</a>. 
<br>
<br>
Prof. Yumei Li <br>

School of Biology and Basic Medical Sciences <br>
Soochow University<br>
No. 199, Renai Road, <br>
Suzhou Industrial Park, Jiangsu, China<br>
email: ymli12[at]suda.edu.cn


