---
title: Publications from the Rege Lab
layout: default
group: publications
---

<h1>Publications</h1>
<div class="container-fluid">
#{% for publication in site.data.publications | sort: "date" %}
#<hr>
#<div class="row" style="padding-top: 60px; margin-top: -60px;" id="{{publication.pmid}}">
#<div style="font-size: 100% !important;">{{ publication.citation | markdownify }}</div>
#{% endfor %}
#</div>
  
<div class="wrapper row3">
  <div id="container">
    <div class="full_width clear">
      <ol>
        {% for publication in site.data.publications %}
          <li>
            {{publication.citation | markdownify}}
          </li>
          <br>
        {% endfor %}
      </ol>
    </div>
  </div>
</div>

